<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
</head>
<body>
<div class="wrapper">
    <header>
        <h1>
            <a href="{{ absolute_url }}">FastAPI performance optimization</a>
        </h1>
        <img src="{{site.logo | relative_url}}" alt="Logo" />
        <ul>
        {% for page in site.pages %}
            {% capture title_size %}{{ page.title | size }}{% endcapture %}
            {% if title_size.size > 1 %}
                <li><a class="small" href={{ page.filename | replace_first:".md",""  }}>{{ page.title }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>



    </header>
    <section>
        <b>Table of contents</b><br>
        {% include toc.html html=content %}
        {{ content }}
    </section>
    <footer>
        <p><small>Hosted on GitHub Page</small></p>
        {% if site.github.is_project_page %}
            <p> <a class="small" href="{{ site.github.repository_url }}">View the Project on GitHub </a> </p>
        {% endif %}
    </footer>
</div>
<script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
</body>
</html>